// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Avenir Light';
  src: url('/public/fonts/Avenir-Light.eot');
  src: url('/public/fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/Avenir-Light.woff2') format('woff2'), url('/public/fonts/Avenir-Light.woff') format('woff'),
    url('/public/fonts/Avenir-Light.ttf') format('truetype'),
    url('/public/fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

// @font-face {
//   font-family: 'Avenir Light';
//   src: url('gs://dowhop-me.appspot.com/assets/fonts/avenir/Avenir-Light.eot');
//   src: url('gs://dowhop-me.appspot.com/assets/fonts/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
//     url('gs://dowhop-me.appspot.com/assets/fonts/avenir/Avenir-Light.woff2') format('woff2'),
//     url('gs://dowhop-me.appspot.com/assets/fonts/avenir/Avenir-Light.woff') format('woff'),
//     url('gs://dowhop-me.appspot.com/assets/fonts/avenir/Avenir-Light.ttf') format('truetype'),
//     url('gs://dowhop-me.appspot.com/assets/fonts/avenir/Avenir-Light.svg#Avenir-Light') format('svg');
//   font-weight: 100;
//   font-style: normal;
// }
